ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    align-items: center;
    margin: auto;
    width: 70%;
}

button {
    height: 42px;
    width: 100px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 5px #000;
    background-color: #72b118;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #48700f;
}

button:active {
    box-shadow: 0px 0px 5px #000;
    transform: translateY(4px);
    transform: translateX(4px);
}

.root {
    margin-bottom: 50px;
}

.list {
    width: 80%;
    margin: auto;
}

.form-control {
    height: 40px;
    width: 30%;
    margin-right: 10px;
    border: 1px solid grey;
    border-radius: 2px;
    padding-left: 20px;
}

.form-container {
    text-align: center;
    width: 90%;
    margin: auto;
}

.list-group-item {
    border: 1px solid gray;
    border-radius: 2px;
    display: flex;
    padding: 15px;
    margin: 0;
    background-color: #fff;
    max-width: 400px;
    cursor: url(../assets/delete.png) 0 0, auto
}

.company-name {
    font-size: 1em;
    margin: 0;
    position: absolute;
}

.symbol {
    padding-top: 2px;
    margin-bottom: 10px;
    position: relative;
    color: gray;
    font-size: 0.9em;
}

.change-percent {
    position: relative;
    top: 15px;
    right: 0;
}

.percent {
    margin-left: 10px;
}

.triangle {
    position: relative;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 25%;
}

.up {
    position: absolute;
    border-bottom: 10px solid green;
}

.down {
    position: absolute;
    border-top: 10px solid red;
}

.greentext {
    color: green;
}

.redtext {
    color: red;
}

.red {
  background-color: darkred;
}

.green {
  background-color: green;
}

.orange{
  background-color: orange;
}

.darkgray{
  background-color: darkgray;
}

.current-price {
    position: relative;
    margin: 0;
}

.left {
    position: relative;
    width: 230px;
}

.right {
    display: inline-block;
    left: 65px;
    bottom: 6px;
    position: relative;
}

.hl {
    font-size: 10px;
    margin: 0;
}

.high {
    position: relative;
    bottom: 12px;
}

.low {
    position: relative;
    top: 55px;
}

.graph {
    height: 100px;
    padding-left: 5px;
}

.slider {
    position: relative;
    transform: rotate(270deg);
    height: 2px;
    right: 60px;
    top: 47px;
}

.single {
    grid-template-columns: auto;
    width: 35%;
}

.mobile {
    width: 90%;
}

.hide {
    display: none;
}

.stock-placeholder {
    text-align: center;
    width: auto;
    color: darkgray;
}

/* Graph styling */

input[type="range"] {
    -webkit-appearance: none;
    width: 100px;
    background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    border-top: 10px solid gray;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: relative;
    bottom: 10px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 2px;
    cursor: default;
    background: gray;
}

/* Media queries */

@media screen and (max-width: 1025px) {
    ul {
        grid-template-columns: auto auto;
        width: 90%;
    }
    .list {
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 900px) {
    ul {
        grid-template-columns: auto auto;
        width: 100%;
    }
    .list {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    ul {
        grid-template-columns: auto;
        width: 90%;
    }
    .list-group-item {
        height: 30px;
    }
    .list {
        width: 100%;
        margin-left: -10px;
    }
    .graph {
        display: none;
    }
    .price-container {
        display: inline-block;
        left: 220px;
        bottom: 62px;
        position: relative;
    }
    .current-price {
        font-size: 0.8em;
    }
    .percent {
        font-size: 0.6em;
    }
    .company-name {
        font-size: 0.8em;
    }
    .symbol {
        font-size: 0.7em;
    }
    .form-control {
        padding: 0;
        font-size: 0.7em;
    }
}

@media screen and (max-width: 374px) {
    .price-container {
        display: inline-block;
        left: 153px;
    }
    .form-control {
        font-size: 0.54em;
    }
}

/* Snackbar styling */

#snackbar {
    visibility: hidden;
    width: 80%;
    margin: auto;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: relative;
    z-index: 1;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        left: -3000px;
        opacity: 1;
    }
    to {
        left: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        left: 30px;
        opacity: 1;
    }
    to {
        left: 2000px;
        opacity: 1;
        width: 1;
    }
}